.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button svg {
  width: 25px;
  fill: #333447;
}
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 56px;
  z-index: 200;
  box-shadow: 0 5px 10px 0 rgba(0, 64, 128, 0.05);
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__logo {
  margin-left: 1rem;
}

.toolbar__logo a {
  color: #333447;
  text-decoration: none;
  font-size: 1.5rem;
}
.covid {
  font-size: 1.5rem;
  font-weight: bold;
  color: #8ac6d1;
  margin-right: 4px;
}
.india {
  font-weight: 100;
}
.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items a {
  color: #333447;
  text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #fa923f;
}

@media (max-width: 768px) {
  .toolbar__navigation {
    text-align: center;
  }
  .toolbar_navigation-items {
    display: none;
  }
  .toolbar__toggle-button {
    width: 0;
    z-index: 20;
  }

  .toolbar__logo {
    width: 100%;
    margin: 0 auto;
    z-index: 10;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }

  .toolbar__logo {
    margin-left: 0;
  }
}
.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transition: transform 0.3s ease-out 0s;
  transform: translateX(-100%);
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: #333447;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f;
}

.side-drawer .close-svg {
  width: 65px;
}
@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
